* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/bac.jpg);
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgb(0,0,0,0.2);
    padding: 0px 12%;
}
ul {
    list-style: none;
    cursor: pointer;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 30px;
    font-family: myriad pro reguler;
    color: #505050;
    font-size: 17px;
    font-weight: 700;
}
li:hover {
    color: orangered;
    transition: 0.5s;
}
.btn button {
    width: 200px;
    height: 40px;
    border-color: white;
    border: none;
    color: white;
    background-color: orangered;
    font-size: 20px;
    font-family: sans-serif;
}
.h1 {
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    width: 900px;
    height: 80px;
    
}
.p {
    margin-top: 20px;
}
span {
    color: orangered;
}
.pp {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
.btn1 {
    width: 160px;
    height: 40px;
    border-color: white;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    border: none;
    margin-right: 20px;
    font-weight: bold;
}
.btn2 {
    width: 160px;
    height: 40px;
    border-color: white;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
    border: none;
    font-weight: bold;
}
.btn3 {
    width: 160px;
    height: 40px;
    border-color: orangered;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-family: sans-serif;
    border: none;
    font-weight: bold;
}
.btn1:active {
    transform: scale(1.1);
}
.btn2:active {
    transform: scale(1.1);
}
.btn3:active {
    transform: scale(1.1);
}
.h11 {
    color: rgba(0, 0, 0, 0.89);
    font-family: sans-serif;
}
.ppp {
    font-family: sans-serif;
}
i {
    font-size: 50px;
    color: orangered;
}
.h111 {
    color: rgba(0, 0, 0, 0.89);
    font-family: sans-serif;
}
.p1 {
    font-family: sans-serif;
    font-weight: bold; 
}
.box1,.box2,.box3 {
    width: 400px;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 12px rgba(0, 0, 0,0.3);
    cursor: pointer;
}

.box1:hover{

    transition: 1s;
}
.box2:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.3);
    transition: 1s;
}
.box3:hover{
    box-shadow: 10px 10px 10px  rgba(0, 0, 0,0.3);
    transition: 1s;
}
.box-container {
    display: flex;
    justify-content: space-around;
    
}
#c1 {
    width: 340px;
    height: 280px;
    margin-left: 32px;
    margin-top: 10px;
}
.w {
    margin-left: 38px;
    margin-top: 10px;
}
.ch1 {
    margin-left: 38px;
    font-family: sans-serif;
}
.servis {
    width: 100%;
    height: 700px;
    background-color: rgba(128, 128, 128, 0.185);
}